@model MvcApplication2.Models.UserDetails

@{
      
    Layout = null;
      
}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Login</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>

<body>

    <div>
        @Html.ValidationMessage("CredentialError", new {style="color:red;" })
        @using (Html.BeginForm("DoLogin", "Authentication", FormMethod.Post))
        {
     
            @Html.LabelFor(c => c.UserName)
     
            @Html.TextBoxFor(x => x.UserName)
            @Html.ValidationMessageFor(x=>x.UserName)
               
     
            <br />
     
            @Html.LabelFor(c => c.Password)
     
            @Html.PasswordFor(x => x.Password)
     
            <br />
     
     
            <input type="submit" name="BtnSubmit" value="Login" />
     
            }

    </div>

</body>

</html>
